<form class="password__form card">
  <div class="wrapper wrapper--gap-max">
    <h1 class="password__heading u-text-center">Смена пароля</h1>
    <div class="wrapper wrapper--gap-min">
      {{{ OldPasswordInput }}}
      {{{ NewPasswordInput }}}
    </div>
  </div>
  <div class="password__actions wrapper wrapper--gap-min">
    {{{ SaveButton }}}
    {{{ CancelButton }}}
  </div>
</form>
