<div class="settings-panel">
  <div class="settings-panel__wrapper settings-panel__wrapper--top">
    {{#ifEquals state "chat"}}
      {{{ NewChatButton }}}
    {{/ifEquals}}
    {{#ifEquals state "settings"}}
      {{{ BackButton }}}
    {{/ifEquals}}
  </div>
  <div class="settings-panel__wrapper settings-panel__wrapper--bottom">
    {{{ LogoutButton }}}
    {{{ SettingsButton }}}
  </div>
</div>
