<ul class="message-list">
  {{#each items}}
    <li class="message-list__item">
      {{{ renderBlock this }}}
    </li>
  {{/each}}
  {{#unless items}}
    <li class="message-list__item">
      <div class="message-list__empty">Нет сообщений</div>
    </li>
  {{/unless}}
</ul>
