.footer {
    padding: 2em;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    gap: .5em;
    height: 100%;
    border-top: 1px solid var(--bg-elem);

    &__link {
        color: var(--bg-elem);
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
    }
}