<footer class="footer">
    <a href="#" id="login-link" class="footer__link">Login</a>
    <a href="#" id="register-link" class="footer__link">Registration</a>
    <a href="#" id="chat-link" class="footer__link">Chat</a>
    <a href="#" id="settings-link" class="footer__link">Settings</a>
    <a href="#" id="404-link" class="footer__link">404</a>
    <a href="#" id="500-link" class="footer__link">500</a>
</footer>