<footer class="footer">
    <nav>
        <ul>
            <li><a href="/login" id="login-link" class="footer__link">Login</a></li>
            <li><a href="/register" id="register-link" class="footer__link">Registration</a></li>
            <li><a href="/chat" id="chat-link" class="footer__link">Chat</a></li>
            <li><a href="/settings" id="settings-link" class="footer__link">Settings</a></li>
            <li><a href="/404" id="404-link" class="footer__link">404</a></li>
            <li><a href="/500" id="500-link" class="footer__link">500</a></li>
        </ul>
    </nav>
</footer>
