<footer class="footer">
    <nav>
        <a href="/login" id="login-link" class="footer__link">Login</a>
        <a href="/register" id="register-link" class="footer__link">Registration</a>
        <a href="/chat" id="chat-link" class="footer__link">Chat</a>
        <a href="/settings" id="settings-link" class="footer__link">Settings</a>
        <a href="/404" id="404-link" class="footer__link">404</a>
        <a href="/500" id="500-link" class="footer__link">500</a>
    </nav>
</footer>
