<div class="layout">
  <main class="layout-main {{pageClass}}">
    <div class="layout-main__left-panel">
      {{{leftPanel}}}
    </div>
    <div class="layout-main__main-area">
      {{{mainArea}}}
    </div>
  </main>
  {{> Footer}}
</div>
