.layout-main {
    display: grid;
    grid-template-columns: 58px 1fr;
    height: 90%;

    &__left-panel {
        height: 100%;
        width: 100%;
    }

    &__main-area {
        background-color: var(--bg-elem);
        height: 100%;
        overflow-y: scroll;
        width: 100%;
    }
}
