<div class="layout">
  <main class="layout-main {{pageClass}}">
    <div class="layout-main__left-panel">
      {{{ LeftPanel }}}
    </div>
    <div class="layout-main__main-area">
      {{#each mainArea}}
        {{{ renderBlock this }}}
      {{/each}}
    </div>
  </main>
  {{{ Footer }}}
</div>
