.chat-bar {
    align-items: center;
    background-color: var(--bg-elem);
    color: var(--color-hide);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}
