<form class="login__form card">
  <div class="wrapper wrapper--gap-max">
    <h1 class="login__heading u-text-center">Вход в профиль</h1>
    <div class="wrapper wrapper--gap-min">
      {{{ LoginInput }}}
      {{{ PasswordInput }}}
    </div>
  </div>
  <div class="wrapper wrapper--gap-min">
    {{{ LoginButton }}}
    {{{ RegisterButton }}}
  </div>
</form>
