  <form class="login__form card">
    <div class="wrapper wrapper--gap-max">
      <h1 class="login__heading u-text-center">Вход в профиль</h1>
      <div class="wrapper wrapper--gap-min">
        {{> Input
          class="input__control--gray"
          name="login"
          id="login"
          type="text"
          placeholder="Ваш логин"
          label="Логин"
          error="Не верный логин"
        }}
        {{> Input
          class="input__control--gray"
          name="password"
          id="password"
          type="text"
          placeholder="Ваш пароль"
          label="Пароль"
          error="Не верный пароль"
        }}
      </div>
    </div>
    <div class="wrapper wrapper--gap-min">
      {{> Button
        class="button--primary"
        id="login-button"
        type="submit"
        text="Войти"
      }}
      {{> Button
        class="button--link"
        id="register-button"
        type="button"
        text="Нет профиля?"
      }}
    </div>
  </form>
  