.settings-area {
  align-items: center;
  background-color: var(--bg);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  padding: 2em 0;

  &__top-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;
  }
}
