<div class="settings-area">
  <div class="settings-area__top-wrapper">
    {{{ Avatar }}}
    <h1 class="settings-area__user-name">{{userName}}</h1>
  </div>
  {{#if showProfileForm}}
  {{{ ProfileForm }}}
  {{/if}}
  {{#if showPasswordForm}}
  {{{ PasswordForm }}}
  {{/if}}
</div>